<div class="hw">
   <div style="background-color: rgb(12, 19, 237); color :aliceblue;height: 30px;">Login</div>

   <form style="margin-top: 30px;" (ngSubmit)="formSubmit()">
     <label style="margin-left: 5px;">User Name</label>
     <input style="margin-left: 10px;" type="text" [(ngModel)]="loginData.username" name="username">
     <div *ngIf="uempty" style="color: red;margin-left: 85px">Username is required</div>
     <div style="margin-bottom: 15px;" ></div>
     <label style="margin-left: 5px;">Password</label>
     <input style="margin-left: 20px;" type="password" [(ngModel)]="loginData.password" name="password">
     <div *ngIf="pempty" style="color: red;margin-left: 85px">Password is required</div>
     <div *ngIf="incorrect" style="color: red;margin-left: 85px">Invalid Credentials</div>
     <button style="margin-left: 130px;margin-top: 20px;background-color: rgb(3, 3, 247);" 
      type="submit"> <span style="color: white;">
      Login </span></button>
   </form>
</div>
